.my_button {
	width: 16.25rem;
	height: 4.5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	line-height: 4.5rem;
	font-family: "Big Shoulders Display", sans-serif;
	cursor: pointer;
	transition: all 1.5s ease;

	.btnName {
		margin: auto;
		font-size: 1.25rem;
		font-weight: 900;
		letter-spacing: 0.2rem;
		width: 100%;
		text-transform: uppercase;
		text-align: center;

		background-color: $almostBlack;
		color: $white;
	}
	.btnDirection {
		background-color: $gold;
		width: 100%;
		text-transform: uppercase;
		text-align: center;
		color: $white;
		font-size: 3.25rem;
		font-weight: 100;
		width: 3.5rem;
	}
	&:hover {
		.btnName {
			background-color: $gold;
			color: $white;
			transition: background-color 0.2s ease-in-out;
		}
		.btnDirection {
			background-color: $almostBlack;
			transition: background-color 0.2s ease-in-out;
		}
	}
}
